.blogPage-container{
    margin-top: 160px;
}

.blogPage-container .column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.blogPage-container .row{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogPage-container .column .row .card{
    gap: 10px;
    width: 25rem; 
    height: 34rem;
}

.blogPage-container .column .row .card .card-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.blogPage-container .column .row .card img{
    padding: 20px 10px 20px 10px;
    height: 250px;
}

.blogPage-container h2{
    text-align: center;
    margin-bottom: 20px;
}
